body {
  background-color: rgb(255, 245, 246);
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 600px;
  padding: 30px;
  background-color: white;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
h1 {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  padding-top: 30px;
}
p {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}
strong {
  color: #f65282;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
a {
  color: rgb(227, 129, 162);
}
.form-container {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
.city-input {
  width: 75%;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: rgb(255, 245, 246);
}
.city-search {
  padding: 15px 20px;
  border-radius: 6px;
  color: white;
  background-color: rgb(227, 129, 162);
  border: none;
  margin-left: 5px;
}
.current-weather-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
.current-weather-temperature {
  display: flex;
}
.current-temperature-icon {
  width: 88px;
  height: 88px;
  margin-top: -35px;
}
.current-temperature-value {
  margin-top: -30px;
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
.current-temperature-unit {
  margin-top: -26px;
  font-size: 28px;
}
